---
layout: default
---

<div class="wrapper">

    <!-- Project -->
    <div class="project">
        <div class="container">

          <div class="project-title">
            <h2>{{ page.title }}</h2>
          </div>

          <div id="row">
              <div class="col-md-9">
                  <div class="project-description">
                      {{ content }}
                  </div>
              </div>

              <div class="col-md-3">
                 <h2 class="project-year">Year</h2> 
                 <span>{{ page.year }}</span>

                 <h2 class="project-technology">Technology</h2> 
                 <span>{{ page.technology }}</span>

                  <div class="project-actions">
                      <a href="{{ page.findMoreUrl}}" target="_blank">
                              <div>Find out more <i class="fa fa-arrow-circle-right"></i></div>
                          </div>
                      </a>
                  </div>                 
              </div>
            </div>

            <div id="row">
             <div class="col-md-12">
               <div class="project-images">
                    <div>
                        {% for tag in post.tags %}
                        <div class="item">
                           <img src="https://dgoldaraz.github.io/assets/img/portfolio/{{post.categories}}/{{tag}}" alt="" class="img-responsive"/>
                        </div>
                        {% endfor %}
                    </div>    
                </div>
            </div>	
          </div>

        </div>
    </div>
    <!-- Project Ends-->
</div>