
/**************************************************/
/* Navigation */
/**************************************************/
    .navbar-header {
        width: 100%;
        height: 90px;
        float: none;
        background: @primary-color; 
    }
    .navbar-nav > li > a {
        font-size: 16px;
        line-height: 16px;
        padding: 15px 10px;
    }
    .navbar-inverse {
        background: #111;
    }
    .navbar-default .navbar-brand {
        color: @color-white !important;
        background: @primary-color; 
        height: 120px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 15px 0px;

        &:focus, 
        &:hover {
            color: @color-white !important;
            background: @primary-color; 
        }
    }
    .show-navbar {
        .navbar-header {
            height: 70px
        }
        .navbar-default .navbar-collapse {
            top: 29px;
        }
        .navbar-brand {
            height: auto;
        }
        .navbar-brand .navbar-brand-role {
            padding: 15px 10px;
            line-height: 14px;
        }
        .navbar-nav > li > a {
            padding: 10px 10px;
        }
    }
    .navbar-brand-link {
        width: 200px; 
        text-align: center; 
    }

    .navbar-brand .navbar-brand-name {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 1.8px;
        display: block
    }
    .navbar-brand .navbar-brand-lastname {
        font-size: 32px;
        line-height: 32px;
        letter-spacing: 1.8px;
        text-transform: capitalize;
        display: block
    }
    .navbar-brand .navbar-brand-role {
        font-size: 14px;
        line-height: 30px;
        text-transform: lowercase;
        letter-spacing: 1.8px;
        padding: 0;
    }
    .navbar-default .navbar-nav>li>a {
        color: @color-black !important;
        font-weight: 700;
    }
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:focus {
        background-color: @link-color;
        color: @color-white !important;
    }
    .navbar-default .navbar-nav>.active>a:hover { 
        background-color: @link-color;
        color: @color-white !important;
    }
    .navbar-default .navbar-nav>li>a:hover { 
        background-color: @link-color;
        color: @color-white !important;
    }
    .navbar-nav.navbar-right:last-child {
        margin-right: 0 !important;
    }
    .navbar-default {
        opacity: 1;
        display: block;
        border:0; 
        background: transparent;
    }
    .show-navbar {
        background: none;
        border: none;
        opacity: 1 !important;
    }
    .navbar-default .navbar-collapse {
        position: absolute;
        top: 39px;
        right: 15px;
    }
    .nav-collapse ul {
        margin: 0;
        padding: 0;
        width: 100%;
        display: block;
        list-style: none;
    }
    .nav-collapse li {
        width: 100%;
        display: block;
    }
    .navbar-toggle {
        padding: 8px 5px;
        margin: 0px;
    }
    .navbar-nav li {
        background: #fafafa; 
        margin: 5px 2px;
    }